<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.dmoral.tappic">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/TranslucentAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"
                    android:host="*"
                    android:pathPattern=".*\\.jpg" />
                <data android:scheme="http"
                    android:host="*"
                    android:pathPattern=".*\\.jpeg" />
                <data android:scheme="http"
                    android:host="*"
                    android:pathPattern=".*\\.png" />
                <data android:scheme="http"
                    android:host="*"
                    android:pathPattern=".*\\.bmp" />
                <data android:scheme="http"
                    android:host="*"
                    android:pathPattern=".*\\.gif" />
                <data android:scheme="http"
                    android:host="*"
                    android:pathPrefix="/image" />
                <data android:scheme="http"
                    android:host="*"
                    android:pathPrefix="/images" />
                <data android:scheme="http"
                    android:host="*"
                    android:pathPrefix="/img" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                    android:host="*"
                    android:pathPattern=".*\\.jpg" />
                <data android:scheme="https"
                    android:host="*"
                    android:pathPattern=".*\\.jpeg" />
                <data android:scheme="https"
                    android:host="*"
                    android:pathPattern=".*\\.png" />
                <data android:scheme="https"
                    android:host="*"
                    android:pathPattern=".*\\.bmp" />
                <data android:scheme="https"
                    android:host="*"
                    android:pathPattern=".*\\.gif" />
                <data android:scheme="https"
                    android:host="*"
                    android:pathPrefix="/image" />
                <data android:scheme="https"
                    android:host="*"
                    android:pathPrefix="/images" />
                <data android:scheme="http"
                    android:host="*"
                    android:pathPrefix="/img" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.TooltipperService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.DetailActivity"
            android:label="@string/application_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.OnboardingActivity"
            android:label="@string/application_name"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>